<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Seog Responsive web template, Bootstrap Web Templates" />
    <title>Seog Business Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/LayoutContent/assets/css/style-starter.css">
</head>
